body {
	background-color: #FF5032;
	margin:0;
	font-family: 'Cabin', sans-serif;
}
main {
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 150px auto;
	padding: 30px;
	border: 1px solid #000;
	border-radius: 5px;
}
header {
	height: 100px;
	background-color: #001B49;
	color: white;
	text-align: center;

}
h1 {
	margin: 0;
	height: 100%;
	line-height: 100px;
	font-family: 'Cabin', sans-serif;
	font-size: 50px;
	font-weight: bold;
}

h2 {
	font-weight: lighter;
}